<!-- services.ejs -->
<html>
<head>
  <title>Services</title>
  <% include partials/header.ejs %>
</head>
<body>
  <% include partials/navigation.ejs %>
  <!-- Services Section-->
  <br><br><br>
  <section class="page-section bg-primary text-white mb-0" id="services">
    <div class="container">
        <!-- Services Section Heading-->
        
        <h2 class="page-section-heading text-center text-uppercase text-white">Services</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="text-center mt-4">
            <img src="assets/img/portfolio/services-img.png" alt="Image 1" class="img-fluid" class="service-image">
         </div>
         <br>
        <!-- Services Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">If you are looking for a professional and affordable service to enhance your photos, design your layouts, or fix your computer issues, you have come to the right place. My services include free photoshop editing, layouting and basic computer software troubleshooting.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Whether you need to retouch your portraits, create stunning flyers or posters, or solve your PC problems, I can help you with quality and speed. Contact me today and let me know what you need. I guarantee you will be satisfied with the results.</p></div>
        </div>
        
        <!-- Services Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Hire Me!
            </a>
        </div>
    </div>
</section>
  <% include partials/footer.ejs %>
</body>
</html>